%html
	%body
		#post-masonry-container.transitions-enabled
			- @posts.each do |post| 
				.box-masonry.panel.panel-default
					= link_to (image_tag post.image.url(:medium)), post, class: "box-img-masonry"
					.panel-body

						= link_to like_post_path(post), class: "btn btn-info", method: :put do 
							%span.glyphicon.glyphicon-thumbs-up
								=post.get_upvotes.size
						
						= link_to unlike_post_path(post), class: "btn btn-danger", method: :put do 
							%span.glyphicon.glyphicon-thumbs-down
								=post.get_downvotes.size

						%h2= link_to post.title, post
					.panel-footer
						.time-text
							%p
							Created at: 
							= post.created_at.strftime("%Y-%m-%d")
