
.panel.panel-default

	.panel-heading
		= image_tag @post.image.url(:medium), :class => "img-show"
	.panel-body
		%h1= @post.title 
		%p= @post.description 
		%p
	.panel-footer

		=render "comments/comment"
		%strong Created by:
		%em= @post.user.email
		%br/
		%br/
		= link_to like_post_path(@post), class: "btn btn-info", method: :put do 
			%span.glyphicon.glyphicon-thumbs-up
				=@post.get_upvotes.size
			
		= link_to unlike_post_path(@post), class: "btn btn-danger", method: :put do 
			%span.glyphicon.glyphicon-thumbs-down
				=@post.get_downvotes.size
		%br/
		%h2= pluralize(@comments.count, "comment")
		
		%br/
		.btn.btn-default= link_to "Back", root_path
		.btn.btn-default= link_to "Edit", edit_post_path
		.btn.btn-default= link_to "Destroy", post_path, method: :delete, data: {confirm: 'Are you sure?'}