
= image_tag @post.image.url(:medium)
%h1= @post.title 
%p= @post.description 
%p
Create by:
= @post.user.email
%br/

.btn.btn-default= link_to "Back", root_path
.btn.btn-default= link_to "Edit", edit_post_path
.btn.btn-default= link_to "Destroy", post_path, method: :delete, data: {confirm: 'Are you sure?'}